@{
    ViewData["Title"] = "Rol";
    Layout = "_LayoutDinamico";
    TempData["Respuesta"] = "";
}

<h1>Gestion Rol</h1>
@TempData["Respuesta"]
<a asp-action="Registrar"> Registrar</a>
<a asp-action="Listado"> Listar Role</a>


