@model List<Entidades.Rol>
@{
    ViewData["Title"] = "Rol";
    Layout = "_LayoutDinamico";
}


<h2>Roles</h2>

<a href="~/Rol/Registrar">Nuevo Registro</a>

<h3>@ViewData["mensaje"]</h3>
<table class="table table-striped" >
    <thead>
        <tr>

            <th scope="col">Rol</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
     
        @foreach (var u in Model)
        {
        <tr>
            
            <td scope="row">@u.Nombre </td>
            <td>@u.Descripcion</td>
            <td>@u.Estado</td>

            <td style="width:200px;">
                <a class="badge badge-dark" title="Editar Permiso" href="~/Rol/Permiso/@u.Id">Editar Permisos</a>
                <a class="badge badge-info" title="Editar Rol" href="~/Rol/Actualizar/@u.Id">Editar Rol</a>
                <a class="badge badge-danger" title="Eliminar Rol" onclick="return confirm('¿Esta seguro?');" href="~/Rol/eliminar/@u.Id">Eliminar Rol</a>

            </td>
        </tr>
        }
    </tbody>
</table>