@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutDinamico";
}
<h1>Departamentos de Colombia</h1>



<button id="infoDiv" onclick="CargarUsuario(0)" class="esri-widget">Ver usuarios</button>
<button id="verVeredasBtn" onclick="verificarVer()" class="esri-widget">Ver veredas</button>

<div id="viewDiv"></div>

<script>
    function verificarVer() {
        if (ListadoVeredas === undefined) {
            alert("cargando las veredas");
        } else {
          //  console.log(ListaVeredas);
            ListarVeredas(ListadoVeredas.slice(0, 10), 1);
        }
        verDialog.show();
    }

    function CargarUsuario(page) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("CargarUsuarios", "Home")',
            data: {
                pagina: page
                
            },
            success: function (result) {
                console.log(result);
                 recargarUsuarios(result,page);
            },
            error: function (error) {
                alert(error);
            }
        });
    }
    function recargarUsuarios(usuarios, page) {
         if (usuarios.length > 0) {

            var tablaUsuarios = `
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Estado</th>
                        
                </tr>
                </thead>
                <tbody>
                    `;
            var d = "";
            for (var i = 0; i < (usuarios.length < 10 ? usuarios.length : 10); i++) {
                d += `
                <tr>
                    <td>${usuarios[i].nombre}</td>
                    <td>${usuarios[i].apellido}</td>
                    <td>${usuarios[i].estado===0?"Inactivo":"Activo"}</td>
                </tr>`
            }
            tablaUsuarios += d;
            tablaUsuarios += `
                </tbody>
            </table>
            <ul class="pagination justify-content-center">
            <li class="page-item ${page === 0 ? "disabled" : ""}"><a class="page-link btn" onclick="CargarUsuario(${page-1})">Anterior</a></li>
            <<li class="page-item ${page === @ViewData["TotalUsuario"]? "disabled": ""}"><a class="page-link btn" onclick="CargarUsuario(${page+1})">Siguiente</a></li>
            </ul>
            
            `;
            $("#tablaUsuarios").html(tablaUsuarios);
        }
        userDialog.show();
    }

    function ListarVeredas(veredas, pagina) {
        if (pagina > 0) {
              var tabla = `

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Municipio</th>
                    <th scope="col">Detalles</th>
                </tr>
            </thead>
            <tbody>`;
            var d = "";
                for (var i = 0; i < (veredas.length < 10 ? veredas.length : 10); i++) {
                    d += `
                    <tr>
                        <th scope="row">${i+(10*(pagina-1))}</th>
                        <th>${veredas[i].attributes.CODIGO_VER}</th>
                        <th>${veredas[i].attributes.NOMBRE_VER}</th>
                        <th>${veredas[i].attributes.NOM_DEP}</th>
                        <th>${veredas[i].attributes.NOMB_MPIO}</th>
                        <th><a class="btn btn-primary" title="Presiona Click" onclick="global.verVereda('${veredas[i].attributes.NOMBRE_VER}')">🔍</a></th>
                    </tr>`
            }
            tabla += d;

            tabla += `
            </tbody>
            </table>
            <ul class="pagination justify-content-centerx|">
            <li class="page-item ${pagina === 1 ? "disabled" : ""}">
                <a class="btn btn-primary btn-lg active" onclick="ListarVeredas(ListadoVeredas.slice(${(pagina - 2) * 10}, ${(pagina - 2) * 10 + 10}), ${pagina - 1})">Anterior</a>
            </li>
            <li class="page-item ${Math.ceil(ListadoVeredas.length / 10) === pagina ? "disabled" : ""}">
                <a class="btn btn-primary btn-lg active" onclick="ListarVeredas(ListadoVeredas.slice(${pagina * 10}, ${pagina * 10 + 10}), ${pagina + 1})">Siguiente</a>
            </li>
            </ul>
        `;
            $("#tablaVeredas").html(tabla);
        }
    }
</script>