@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutDinamico";
}
<h1>Departamentos de Colombia</h1>

<button id="infoDiv" onclick="recargarTabla(0, 10, 1)" class="esri-widget">Ver usuarios</button>
<button id="verVeredasBtn" onclick="verificarVer()" class="esri-widget">Ver veredas</button>
<div id="viewDiv"></div>