#viewDiv {
    margin: 0;
    padding: 0;
    height: 700px;
    margin-bottom: 50px;
}




#btnDeptg {
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px;
}


#optionsDiv {
    background-color: white;
    color: black;
    padding: 6px;
    max-width: 400px;
}